.DS_Store
__pycache__/

encoder_venv/

Model_1/trained_autoencoder.pth
Model_1/pycache/

model_2/pycache/
model_2/trained_autoencoder.pth

model_3/pycache/
model_3/trained_autoencoder.pth

model_4/pycache/

model_5/pycache/

model_6/pycache/

model_7/pycache/



Autoencoder_data/