.DS_Store
__pycache__/

Autoencoder_data/

encoder_venv/

# Ignore all .pth files
*.pth

# Un-ignore the specific best model
!/model_10_beta/128_dim_models/models/fine_tune_2_best_model_epoch4_valloss=0.000042.pth



